datasette
datasette-cluster-map
datasette-pretty-json
datasette-saved-queries
datasette-vega
bake-cli
xlsx2csv
tqdm
requests
requests-cache
https://github.com/turicas/rows/archive/refs/heads/develop.zip
